
@import "mixins";

.coverflow {
	z-index: 10;
	position: relative;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-webkit-touch-callout: none;
}

.coverflow .coverflow-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.coverflow .coverflow-tray,
.coverflow .coverflow-rect {
	position: absolute;
	@include prefixed('transform-style', 'preserve-3d');
}

.coverflow .coverflow-tray,
.coverflow .coverflow-cell {
	pointer-events: none;
	position: absolute;
	-webkit-transition: -webkit-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	-moz-transition: -moz-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	-ms-transition: -ms-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	-o-transition: -o-transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	transition: transform .8s cubic-bezier(0.190,1.000,0.220,1.000);
	@include prefixed('backface-visibility', 'hidden');
}

.coverflow .coverflow-hit {
	position: absolute;
	opacity: 0;
	@include prefixed('backface-visibility', 'hidden');
}

.coverflow .coverflow-cell canvas {
	pointer-events: none;
	outline: 1px solid transparent;
	position: absolute;
}

.coverflow-text {
	position: absolute;
	width: 100%;
}

.coverflow-text h1,
.coverflow-text h2 {
	margin: 0;
}

#enhancedby {
	position:absolute;
	top:0;
	right:0;
	background:url(//cdn.gestures.io/img/enhancedby.png) no-repeat center center;
	width:137px;
	height:137px;
	z-index:101;
}
#enhancedby a {
	display:block;
	width:137px;
	height:137px;
}
